svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
    background: none;
}

.key {
  cursor:move;
}

body {
  background: #BFBFBF;
}
